html, body {
  margin: 0;
  padding: 0;
  display: block;
}  

body {
    font-family: "lato", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;

    background: black;
}

img {
    image-rendering: pixelated;
}

a {
    padding: 0.1em;
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover, a:active {
    background-color: hsla(0, 0%, 0%, 0.1);
}

a.no-highlight {
    background-color: hsla(0, 0%, 0%, 0);
}

#my-name {
    line-height: 2em;
}

#background {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
}

#menu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 18rem;

    background-image: url('./assets/menu-panel.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    color: rgb(79, 67, 89);

    text-align: center;
    font-size: 1.8rem;

    font-family: "lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#menu-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#social-links {
    line-height: 3.5rem;
}
#social-links > a {
    padding: 0em;
}
#social-links > a > img {
    width: 1.05em;
}

/* Content Pages */
#content-panel {
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    padding: 50px 30px 30px 30px;
    text-align: left;
    line-height: 1.8rem;

    font-size: 1.1rem;
    & h {
        font-size: 3rem;
        font-weight: bold;
    }
    & h2 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
    & img {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    & a {
        text-decoration-line: underline;
    }
    & .caption-text {
        font-size: 0.8em;
        text-align: center;
        color: rgb(81, 81, 81)
    }
}

.divider-line {
    height: 0.3em;
    width: 100%;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    #content-panel {
        width: 70vw;
    }
}