html, body {
  margin: 0;
  padding: 0;
  display: block;
}  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding: 0.1em;
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover, a:active {
    background-color: hsla(0, 0%, 0%, 0.1);
}

#my-name {
    line-height: 2em;
}

#background {
    display: block;
    width: 100vw;
    height: 100vh;
}

#menu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 18rem;

    background-image: url('./menu-panel.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    color: rgb(79, 67, 89);

    text-align: center;
    font-size: xx-large;
}

#menu-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}