html, body {
  margin: 0;
  padding: 0;
}  

#background {
    display: block;
    width: 100vw;
    height: 100vh;
}

#menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 16rem;

    background-color: rgb(236, 220, 255);
    color: rgb(79, 67, 89);

    text-align: center;
}

.menu-item {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    margin: 5px;

    font-size: xx-large;
}