html, body {
  margin: 0;
  padding: 0;
  display: block;
}  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding: 0.1em;
    text-decoration: none;
}
a:link {
    color: hsl(248, 51%, 40%);
}
a:visited {
    color: hsl(248, 51%, 40%);
}
a:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}
a:active {
    background-color: hsla(0, 0%, 0%, 0.3);
}

#my-name {
    line-height: 2em;
}

#background {
    display: block;
}

#menu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 16rem;

    background-color: rgb(236, 220, 255);
    color: rgb(79, 67, 89);

    text-align: center;
    font-size: x-large;
}

#menu-text {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}